body {
    margin: 0;
    min-width: 250px;
    font-family: 'Montserrat', sans-serif;
    background-color: #2E2E3A;
    color: white;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

h5 {
    margin: 5px;
}

#theMain {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px 5px 0 0;
}

tr:nth-child(even) {
    background-color: #E96A32;!important;
    color: white;
}

tr {
    background-color: #F34213;
    color: white;
}

.close {
    float: right;
    padding-left: 25px;
}

.close:hover {
    color: #2E2E3A;
    pointer: arrow;
}

.header {
    background-color: #2E2E3A;
    padding: 20px 40px;
    color: white;
    text-align: center;
}

#tFoot {
    background-color: #E96A32;
    padding: 20px 40px;
    color: white;
    text-align: center;
    font-size: 12px;
    border-top: 1px solid #2E2E3A;
    border-radius: 0 0 5px 5px;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

input {
    margin: 0;
    border: none;
    border-radius: 5px;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 12px;
}

.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
}

.theCompleteSort {
    cursor: pointer;
    background: #d9d9d9;
    border-radius: 5px;
    padding: 5px;
    color: #2E2E3A;
}

.addBtn:hover {
    background-color: #bbb;
}

.active, .complete {
    float: left;
    padding-right: 20px;
    padding-left: 10px;
}

.active {
    color: #2E2E3A;;
}

.complete {
    color: white;
    font-weight: bold;
}

.close {
    float: right;
    padding-right: 10px;
}

.done {
    text-decoration: line-through;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.notDone {
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}